{% extends '_base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}Change Password{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    <br>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="lead">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-5 ml-0">
                        {{ form|crispy }}
                    </div>
                </div>
                <input type="submit" name="action" class="btn btn-success" value="{% trans 'Change Password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password has been changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}