{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title %}

{% block content %}

<h2>Sign Up</h2>
<p style="font-size: 12px;">Already have an account?  <b><a href="{% url 'account_login' %}">Sign In</a></b></p>
<br>
<div class="row" style="overflow-x: hidden;">
  <div class="col-md-6" data-aos="fade-up-right">
    <form method="post">
    {% csrf_token %}
    
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0">
                {{ form.last_name|as_crispy_field }}
            </div>
        </div>
    
        {{ form.email|as_crispy_field }}   
        <div class="form-row">
            <div class="form-group col-md-9 mb-0">
                {{ form.school|as_crispy_field }}
           </div>
            <div class="form-group col-md-3 mb-0">
                 {{ form.grade|as_crispy_field }}
            </div>
        </div>
        
    
        {{ form.parent_email|as_crispy_field }} 
        {{ form.password1|as_crispy_field }}
     
        <p><small>By signing up to Pulsar Academy, you agree to our <b><a href="{% url 'terms' %}">Terms of Service</a></b>.</small></p>
        

    <button class="btn btn-primary btn" type="submit">Sign Up</button>
</form>
  </div>
  <div class="col-md-6" data-aos="fade-up-left">
    <div class="jumbotron" style="padding:32px">
        <h1>Get ready to learn.</h1>
        <p class="lead">Your school and parent email info are optional, but they would be preferred! After you 
        sign up, make sure you receive a confirmation email from <span class="text-info">contact@pulsaracademy.com</span>.
        </p>
        
        
        
    </div>

  </div>
</div>

<br>


{% endblock content %}
{% block javascript %}

{% endblock javascript %}