{% extends '_base.html' %}

{% load icon %}

{% block title%}{{ object.name }} Forum{% endblock title %}

{% block content %}

<h1>{{ object.name }} Forum <span class="icon"> <i class="devicon-{{ object.get_icon_string }}-plain"></i></span></h1>

<p><a class="text-muted" href="{% url 'lesson_list' object.slug %}">{% icon 'arrow-left' height="18" width="18" %} {{ object.name }}</a></p>
<a class="btn btn-outline-secondary" href="{% url 'forum_new' object.slug %}" style="float: right;">+ Post</a>
<br>
<!-- <p class="lead">Go to <a href="{% url 'lesson_list' object.slug %}">course</a>.</p> -->



<!-- <br> -->
<p>Posts ({{ object.post_set.all.count }})</p>
{% if object.post_set.all %}
{% for post in object.post_set.all %}
<div class="card">
    <div class="card-body">

    <p class="card-text">
        <a href="{% url 'forum_detail' object.slug post.pk %}" class="font-weight-bold text-dark">{{ post.title }}</a>
        
    </p>
    <p class="card-text text-muted">
        <small>posted by {{ post.author.first_name }} {{ post.author.last_name }} &middot; {{ post.x_ago }} 
        {% if post.edited %} (edited) {% endif %}   
        </small>
    </p>
    
    </div>
</div>

<br />
    

{% endfor %}
{% else %}
<p class="lead">No Posts Yet! Be the first one!</p>
{% endif %}

{% endblock content %}