{% extends '_base.html' %}

{% load icon %}

{% block title%}{{ object.title }} | {{ object.course.name }}{% endblock title %}

{% block content %}

<h1>{{ object.title }}</h1>
<p><a class="text-muted" href="{% url 'forum_list' object.course.slug %}">{% icon 'arrow-left' height="18" width="18" %} {{ object.course.name }} forum</a></p>

{% if request.user == object.author %}
<span class="text-info">by {{ object.author.first_name }} {{ object.author.last_name }}
    {% if object.author.is_staff %}
        {% icon 'headphones' height="16" width="16" %}
    {% endif %}
{% else %}
<span class="text-muted">by {{ object.author.first_name }} {{ object.author.last_name }}
    {% if object.author.is_staff %}
        {% icon 'headphones' height="16" width="16" %}
    {% endif %}
{% endif %}

</span><br>
<span class="text-muted"><small>{{ object.x_ago }}

    {% if object.edited %} 
     (edited)
    {% endif %}</small></span>

{% if post.author == request.user or request.user.is_staff %}
<div style="float:right;">
    <a class= "btn btn-danger btn-sm" href="{% url 'forum_delete' object.course.slug object.id %}">{% icon 'trash-2' height="18" width="16" %} Delete</a>
    <!-- <div class="divider"></div> -->
    <a class="btn btn-outline-secondary btn-sm" href="{% url 'forum_edit' object.course.slug object.id %}">{% icon 'edit' height="18" width="16" %} Edit</a>  
</div>

{% endif %}


<br><br>


{{ object.body|safe }}



<br><br>

<h4>Comments ({{ object.comment_set.all.count }})</h4>
<br>
<hr class="my-0">
{% for comment in object.comment_set.all %}
<div class="card rounded-1 border-0">
    <div class="card-body">

    <p class="card-text"><span class="comment">{{ comment.body|safe|urlize }}</span></p>
    <p class="card-text text-muted">
        <small>comment by 
        {% if comment.user == request.user %}<span class="text-info">
                {{ comment.user.first_name }} {{ comment.user.last_name }} 
                {% if comment.user.is_staff %}
                    {% icon 'headphones' height="13" width="13" %}
                {% endif %}
            </span>
            {% else %}
            {{ comment.user.first_name }} {{ comment.user.last_name }} 
                {% if comment.user.is_staff %}
                    {% icon 'headphones' height="13" width="13" %}
                {% endif %}
        
        {% endif %}
            
            
            
            &middot; {{ comment.x_ago }} 
            {% if comment.edited %} (edited) {% endif %}</small>
    </p>
    <hr style="width:100%" class="mb-0">
    </div>
    
</div>

{% endfor %}



 <form method="POST" id="post-form">
    {% csrf_token %}
    
     <div class="form-group">
       <textarea class="form-control rounded-1" style="padding: 20px;" autocomplete="off" rows="3" id="body" placeholder="Enter Comment Here." ></textarea>
     </div>
     <button type="submit" class="btn btn-primary" id="submit-form">Submit</button>
  </form> 
  
  {% endblock content %}

   {% block javascript %}
   
<script>

    
$(function() { 
    var count = 0;
    $('#post-form').on('submit', function(e){
        e.preventDefault();
        var body = $('#body').val();
        if (body.trim() == "" && count === 0) {
            count++;
            $('#body').addClass('is-invalid')
            $('.form-group').append(
                '<div class="invalid-feedback">'+
                'Please enter in a comment' +
                '</div>'
            )

        }
        else if(body.trim() !== "") {
        $.ajax({
            
            type:'POST',
            url:'{% url "comment_new" object.course.slug object.id %}',
            
            data:{
                body:$('#body').val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json){
                
                console.log(json.title)

                console.log('Beegle beegle bee')
                location.reload()
                // $(".posts").prepend('<div class="col-md-6">'+
                //     '<div class="card-body">' +
                //         '<p class="card-text"><span class="comment">{{ comment.body|safe|urlize }}</span></p>' +
                //             '<h3 class="mb-0">' + json.title + '</h3>' +
                //             '<p class="mb-auto">' + json.description + '</p>' +
                //         '</div>' +
                //     '</div>' +
                // '</div>' 
                // )
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
        });
        }
});
})
</script> 

{% endblock javascript %}