

{% extends '_base.html' %}
{% load icon %}

{% block title %}{{ object.name }} Overview{% endblock title %}


{% block content %}

<h1><u>{{ object.name }} Overview</u><span class="icon"> <i class="devicon-{{ object.get_icon_string }}-plain"></i></span></h1><br>
<p><a class="text-muted" href="{% url 'lesson_list' object.slug %}">{% icon 'arrow-left' height="18" width="18" %} {{ object.name }} Forum</a></p>
<span style="float:right"><a href="{% url 'registration_info' %}">Status</a>:
    
    <span class="text-muted">
       {% if class.confirmed %}
        Confirmed
    {% else %}
        Unconfirmed
    {% endif %}
    </span>
    </span>
</span>
<br>


<p class="text-muted">{{ object.start_date_string }} - {{ object.end_date_string }} &middot; {{ class.first_day }}, {{ class.second_day }}<br>
{{ class.start_time_convert }} - {{ class.end_time_convert }}</p>
<p>Instructor: <a href="{% url 'instructors' %}">{{ object.instructor }}</a></p>

<p>Level: {{ object.difficulty }}</p>
<p>Cost: ${{ object.cost_decimal }}</p>

<p>
    {{ object.description }}
</p>
<br>
{% if object.embedded_url %}
<h3>Example Video</h3><br>
<div style="text-align: center;">
<iframe style="max-width: 100%; width: 560px; height: 315px;" src="{{ object.embedded_url }}" frameborder="1" 
allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
<p class="text-muted text-center"><small>Classes will be in a video call. The video above is a representation of teaching style.</small></p>
<br><br>
{% endif %}
<h3>Course Syllabus</h3>

{{ object.syllabus|safe }}
<br>

<hr>

{% if object.past_payment_deadline %}

    <br>
    <div class="card text-center border-danger">
        <div class="card-body">
            <div class="tab1 tabcontent">
            
            <p class="card-text text-danger">The course deadline has passed!</p>
            
            </div>
            
            
          
        </div>
      </div>
      <br>
      <br>
{% elif object in request.user.classes_paid_list %}
      <br>
    <p>Go to <a href="{% url 'lesson_list' class.slug %}">course</a>.</p>
{% elif request.user in object.users.all %}
      <br>
    <p><a href="{% url 'unregister' object.slug %}">Unregister</a> {% if object.confirmed %}|  Pay by: {{ object.payment_deadline_date }} {% endif %}</p> 
    
{% else %}
    {% if object.past_registration_deadline %}
    <br>
    <div class="card text-center border-danger">
        <div class="card-body">
            <div class="tab1 tabcontent">
            
            <p class="card-text" style="color:red">The registration deadline has passed!</p>
            
            </div>
            
            
          
        </div>
      </div>
      <br>
    {% else %}
    <br>
    <p><a href="{% url 'register' object.slug %}">Register</a> | Deadline: {{ class.registration_deadline }} </p>
    <br>
    {% endif %}
{% endif %}


{% if request.user.is_staff %}
<a href="{% url 'class_update' object.slug %}" class='btn btn-info'>Edit Info</a>
{% endif %}
{% endblock content %}
{% block javascript %}
<script>
    // When the user clicks on <div>, open the popup
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    </script>
    
{% endblock javascript %}