


{% extends '_base.html' %}

{% load static %}
{% block title %}{{ object.name }} Checkout{% endblock title %}

{% block content %}

    <h1>Pay for <a href="{% url 'class_detail' object.slug %}">{{ object.name }}</a></h1>
    <p class="lead">You opted to pay for this class individually. If you are trying to pay for more than one class simultaneously, please go to your 
        <a href="{% url 'summary' %}">cart</a>.
    </p>
    <br>
   
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' object.slug %}">{{ object.name }}</a></span> &middot;
            <span class="text-muted">{{ object.start_date_string }} - {{ object.end_date_string }} &middot; {{ object.first_day }}, {{ object.second_day }} &middot; {{ object.start_time_convert }} - {{ object.end_time_convert }}</span>
            <span style="float: right;">
                ${{ object.cost_decimal }}
            </span>
        </div>
    
        <div class="card-body">
            {{ object.description }}      
                 
        </div>
        <div class="card-footer">
            <span class="text-muted">Instructor: {{ object.instructor }}</span>
      
          </div>
    </div>
    <br>
   
    
    <h2>Total: ${{ object.cost_decimal }}</h2>
    <small>By confirming the payment, you agree to Pulsar Academy's <a href="{% url 'terms' %}" target="_blank">Terms and Conditions</a>.</small>
    
    {{ form.render }}
    <br><br>
    <hr style="width: 100%;border-bottom: 0px;"/>
    <br>
   

    
    <h3><u>Privacy Policy</u></h3>
    <p>Pulsar Academy does not collect any of your payment information. All purchases are handled by <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full" target="_blank">Paypal</a>. Your information is secured by 
        <a href="https://letsencrypt.org/privacy/" target="_blank">Let's Encrypt</a> with SSL encryption. None of your personal information leaves our servers, and the only
        use cases for Pulsar Academy include transactional and notification emails. Any additional information provided will only be used for our insight into our user base, and nothing more.
        Should you wish for your account to be deleted, please <a href="{% url 'contact' %}">contact us</a>. We will be sure to remove your information from our database. 
    
    <h3><u>Refunds</u></h3>
    <p>
        All payments will go to our business account under the email <a href="mailto:eric@echen.io">eric@echen.io</a>. 
        You may request a refund by emailing us at <a href="mailto:contact@pulsaracademy.com">contact@pulsaracademy.com</a> or going <a href="{% url 'contact' %}">here</a>. All refunds must be requested at least
        a day prior to the first class. We can cater to individual scenarios if you email us detailing the reasoning behind your refund request. If you are not 
        satisfied with the class, we can negotiate on a person-to-person basis. 
    </p>
    

    
{% endblock content %}