

{% extends '_base.html' %}
{% load icon %}

{% block title %}Course List{% endblock title %}



{% block content %}


<div class="card text-center mt-4">
    <!-- <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#tab1">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab2">Will Implement</a>
        </li>
        
      </ul>
    </div> -->
    
    <div class="card-body">
        <div class="tab1 tabcontent">
        <h3 class="card-title">Registration is live!</h3>

        <br>
        <a href="{% url 'registration_info' %}" class="btn btn-primary">How to Register</a> 

        
        </div>
        
        
      
    </div>
  </div>
  <br/>


<h2 class="text-center"><strong><u>Course List</u></strong></h2>
<br>
{% for class in object_list %}


<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
        <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.first_day }}{% if class.second_day %}, {{ class.second_day }}{% endif %} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}
           
          

        </span>
        
        <span style="float:right" class="text-muted">
          
          <a class="btn btn-info" style="padding-top: 2px; padding-bottom: 2px; padding-left: 3px; padding-right: 3px;" href="{% url 'class_detail' class.slug %}">{% icon 'book_open' style="padding: -5px" %}</a>
      
      </span>
    </div>

    <div class="card-body">
        {{ class.description }}      
             
    </div>
    <div class="card-footer">
      <span class="text-muted">Instructor: {{ class.instructor }}</span>
      <span class="text-muted" style="float:right">
        {% if class.past_registration_deadline %}
          Closed
          {% else %}
          Open for registration
          {% endif %}
        </span>

    </div>
    
</div>
 <br />
 
 {% endfor %}
{% endblock content %}