

{% extends '_base.html' %}
{% load icon %}

{% block title %}Course List{% endblock title %}



{% block content %}

<div class="alert alert-danger alert-dismissible text-center" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  Registration has passed for this session.
</div>

<div class="card text-center">
    <!-- <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#tab1">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tab2">Will Implement</a>
        </li>
        
      </ul>
    </div> -->
    
    <div class="card-body">
        <div class="tab1 tabcontent">
        <h3 class="card-title">Registration Has Ended!</h5>
        <p class="card-text">Check out the <a href="{% url 'schedule' %}">course schedule</a>.</p>
        <a href="{% url 'registration_info' %}" class="btn btn-primary">How to Register</a> 

        {% if request.user.is_staff %} <br><br>
              <a href="{% url 'staff_list' %}">Go to Staff View!</a>
     

        {% endif %}
        </div>
        
        
      
    </div>
  </div>
  <br/>


<h2 class="text-center"><strong><u>Course List</u></strong></h2>
<br>
{% for class in object_list %}


<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
        <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.first_day }}, {{ class.second_day }} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}
           
          

        </span>
        
        <span style="float:right" class="text-muted">
          
          {% if class.confirmed and not class.past_registration_deadline %}
          (Confirmed)
          {% comment %}{% icon 'check-circle' style="color:green" height="15" width="15" %}{% endcomment %}
      {% comment %}{% else %}
          {% icon 'x' style="color:red" height="15" width="15" %} {% endcomment %}
      {% endif %}
      
      </span>
    </div>

    <div class="card-body">
        <p>Level: {{ class.difficulty }}</p>
        {{ class.description }}      
             
    </div>
    <div class="card-footer">
      <span class="text-muted">Instructor: {{ class.instructor }}</span>
      <span class="text-muted" style="float:right">
        {% if class.past_registration_deadline %}
          Closed
          {% else %}
          Open for registration
          {% endif %}
        </span>

    </div>
    
</div>
 <br />
 
 {% endfor %}
{% endblock content %}