{% extends '_base.html' %}

{% block title %}Paid Courses{% endblock title %}

{% block content %}

<h1><u>Paid Courses</u></h1>
<!-- <br> -->
{% if request.user.classes_paid_list %}


<p class="lead">Welcome to your courses! If you click on the class name below, you can access the lesson list for each course. From there,
    you can review previous lessons or go to the forum where you can interact with other students. Enjoy!
</p>
<br>
{% for class in request.user.classes_paid_list reversed %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a class="text-dark" href="{% url 'lesson_list' class.slug %}">{{ class.name }}</a></span> &middot;
        <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.first_day }}{% if class.second_day %}, {{ class.second_day }}{% endif %} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}</span>
        <span style="float:right" class="text-muted">
            {% if class.is_ongoing %}
                (Ongoing)
            {% elif class.past %}
                (Completed)
            {% endif %}
            
            
        </span>
    </div>

    <div class="card-body">
        {{ class.description }}      
             
    </div>
    <div class="card-footer">
        <span class="text-muted">Instructor: {{ class.instructor }}</span>
  
      </div>
    
</div>
<br>
{% endfor %}
{% else %}
<p class="lead">Your paid classes will show up here.</p>
{% endif %}
{% endblock content %}