


{% extends '_base.html' %}

{% load static %}
{% block title %}Checkout{% endblock title %}

{% block content %}
<h1>Checkout</h1>


{% if request.user.payment_owed == 0 %}
    <p class="lead">There are no courses in your cart or your courses are not confirmed.</p>
    <br>
    <p>See your paid courses <a href="{% url 'paid_classes' %}">here</a> or register for courses <a href="{% url 'class_list' %}">here</a>.</p>
    <p>Learn about registration <a href="{% url 'registration_info' %}">here</a>.</p>
{% else %}
    <br>
    {% for class in request.user.classes_not_expired_registered_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
            <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.first_day }}, {{ class.second_day }} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}</span>
            <span style="float: right;">
                ${{ class.cost_decimal }}
            </span>
        </div>
    
        </div>
    <br>
    {% endfor %}

    <span style="float:right">Items: {{ request.user.classes_not_expired_registered_list.count }}</span><br>
    <h2>Total: ${{ request.user.payment_owed }}</h2>
    <small>By confirming the payment, you agree to Pulsar Academy's <a href="{% url 'terms' %}" target="_blank">Terms and Conditions</a>.</small>
    
    {{ form.render }}
    <br><br>
    <hr style="width: 100%;border-bottom: 0px;"/>
    <br>
   

    
    <h3><u>Privacy Policy</u></h3>
    <p>Pulsar Academy does not collect any of your payment information. All purchases are handled by <a href="https://www.paypal.com/us/webapps/mpp/ua/privacy-full" target="_blank">Paypal</a>. Your information is secured by 
        <a href="https://letsencrypt.org/privacy/" target="_blank">Let's Encrypt</a> with SSL encryption. None of your personal information leaves our servers, and the only
        use cases for Pulsar Academy include transactional and notification emails. Any additional information provided will only be used for our insight into our user base, and nothing more.
        Should you wish for your account to be deleted, please contact us at our email. We will be sure to remove your information from our database. Please contact us if you
        have any questions or concerns.
    </p>
    
    <h3><u>Refunds</u></h3>
    <p>
        All payments will go to our business account under the email <a href="mailto:eric@echen.io">eric@echen.io</a>. 
        You may request a refund by emailing us at <a href="mailto:contact@pulsaracademy.com">contact@pulsaracademy.com</a>. All refunds must be requested at least
        a day prior to the first class. We can cater to individual scenarios if you email us detailing the reasoning behind your refund request. If you are not 
        satisfied with the class, we can negotiate on a person-to-person basis. 
    </p>
    
 {% endif %}
{% endblock content %}