


{% extends '_base.html' %}

{% block title %}Payment{% endblock title %}

{% block content %}
{% if not request.user.payment_owed %}
    <p>No classes yet!</p>
{% else %}
    {% for class in request.user.class_set.all %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
            <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }}</span>
    
        </div>
    
        <div class="card-body">
        
            
    
            
            <!-- Comments added here -->     
        </div>
        
    </div>
    <h1>Total: ${{ request.user.payment_owed }}</h1>

    {{ form.render }}

    <!-- <div id="paypal-button-container"></div>

    <script src="https://www.paypal.com/sdk/js?client-id=AUavCeuaD6UWPcljzLBUCftiv2Dmf22jD3X2W6LvmGLM6ahqA1hjj0g9AphGsu30-4NM9bPE9bhUmDau&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');
    </script> -->
    
    {% endfor %}
 {% endif %}
{% endblock content %}