{% extends '_base.html' %}

{% load icon %}
{% block title %}Registered Courses{% endblock title %}

{% block content %}

{% if request.user.classes_registered_list %}
<h2><u>Registered Courses</u></h2><br>
<p class="lead">The status indicates whether the course has been confirmed. We will send out an email to you 4 days before the start of the class
    clarifying whether course shall happen on schedule. If it is confirmed, it will show up in your cart, where you can proceed to checkout using Paypal. Your information
    is fully protected and encrypted. 
</p>
<br>
<a href="{% url 'summary' %}" style="float:right" class="btn btn-outline-primary btn-sm">{% icon 'shopping-cart' height="20" width="20" %} Pay</a><br>
<br>
{% for class in request.user.classes_registered_list %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
        <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.first_day }}, {{ class.second_day }} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}</span>
        <span style="float:right">Status: {% if class.confirmed %}
            {% icon 'check-circle' style="color:green" height="15" width="15" %}
        {% else %}
            {% icon 'x' style="color:red" height="15" width="15" %} 
        {% endif %}
        </span>
    </div>

    <div class="card-body">
        
       
        {{ class.description }}      
             
    </div>
    <div class="card-footer">
        <span class="text-muted">Instructor: {{ class.instructor }}</span>
  
      </div>
    
</div>
<br>
{% endfor %}
{% else %}
<h2>You are not registered for any courses.</h2>
<br>
<p class="lead">You can register <a href="{% url 'class_list' %}">here</a> or see your paid courses <a href="{% url 'paid_classes' %}">here</a>.</p>

{% endif %}

{% if request.user.classes_expired_registered_list %}
<br><br>
<p class="lead text-danger">The payment deadline for the following classes has passed. If you have any conerns, please contact us at contact@pulsaracademy.com.</p>

<span style="float:right"><a href="{% url 'clear' %}" class="btn btn-outline-danger">Remove All {% icon 'x' class="text-danger" height="20" width="20" %} </a></span><br><br><br>
{% for class in request.user.classes_expired_registered_list %} 
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
        <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}</span>
        <span style="float:right" class="text-muted">(expired)
        </span>
    </div>

    <div class="card-body">
        
       
        {{ class.description }}      
             
    </div>
    <div class="card-footer">
        <span class="text-muted">Instructor: {{ class.instructor }}</span>
  
      </div>
    
</div>
<br>
{% endfor %}
{% endif %}
{% endblock content %}