


{% extends '_base.html' %}

{% load icon %}
{% block title %}Course Cart{% endblock title %}


{% block content %}
<h1>Cart</h1>

{% if request.user.payment_owed == 0 %}
    <p class="lead">There are no courses in your cart or your courses are not confirmed.</p>
    <br>
    <p>See your paid courses <a href="{% url 'paid_classes' %}">here</a> or register for courses <a href="{% url 'class_list' %}">here</a>.</p>
    <p>Learn about registration <a href="{% url 'registration_info' %}">here</a>.</p>
{% else %}
    <br>
    {% for class in request.user.classes_confirmed_not_paid_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
            <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}</span>
            <span style="float: right;">
                ${{ class.cost_decimal }}
            </span>
    
        </div>
    
        <div class="card-body">
            {{ class.description }}      
                 
        </div>
        
        <div class="card-footer">
            <span class="text-muted">Instructor: {{ class.instructor }}</span>
      
          </div>
    </div>
    <br>
    {% endfor %}
    <h2>Total: ${{ request.user.payment_owed }}</h1>

    <a class="btn btn-outline-primary" style="float:right" href="{% url 'checkout' %}">Checkout {% icon "arrow-right" height="15" width="15" %}</a>
  
    
 {% endif %}
{% endblock content %}