


{% extends '_base.html' %}

{% load icon %}
{% block title %}Course Cart{% endblock title %}


{% block content %}
<h1>Cart {{ request.user.num_payments_not_paid }}</h1>

{% if request.user.payment_owed == 0 %}
    <br>
    <p class="lead">There are no courses in your cart. If you have registered for courses but they don't show up here, it is because
        they have not yet been confirmed (minimum quota not met). Emails will be sent out when the status changes!
    </p>
    
    <p>See your paid courses <a href="{% url 'paid_classes' %}">here</a> or register for courses <a href="{% url 'class_list' %}">here</a>.</p>
    <p>Learn about registration <a href="{% url 'registration_info' %}">here</a>.</p>
{% else %}
    <br>
    {% for class in request.user.classes_not_expired_registered_list %}
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
            <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.first_day }}, {{ class.second_day }} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}</span>
            <span style="float: right;">
                ${{ class.cost_decimal }} <a href="{% url 'cart_unregister' class.slug %}">{% icon 'x' height="20" width="20" style="color:grey" %}</a>
            </span>
    
        </div>
    
        <div class="card-body">
            {{ class.description }}      
                 
        </div>
        
        <div class="card-footer">
            <span class="text-muted">Instructor: {{ class.instructor }}</span>
            <span style="float:right;"><a href="{% url 'class_pay' class.slug %}">{% icon 'credit-card' height="18" width="18" %} Pay individually</a></span>
      
          </div>
    </div>
    <br>
    {% endfor %}
    <h2>Total: ${{ request.user.payment_owed }}</h1>
    
    
    <br>
    {% if request.user.classes_expired_registered_list %}
    <p class="text-danger">You registered for the following courses but the deadline for payment have passed. If you have any concerns, please 
        <a href="{% url 'contact' %}">contact us</a>.</p>
        
        <span style="float:right"><a href="{% url 'clear' %}" class="btn btn-outline-danger btn-sm">Remove All {% icon 'x' class="text-danger" height="20" width="20" %} </a></span><br><br>
    {% for class in request.user.classes_expired_registered_list %}
    
    <div class="card">
        <div class="card-header">
            <span class="font-weight-bold"><a class="text-dark" href="{% url 'class_detail' class.slug %}">{{ class.name }}</a></span> &middot;
            <span class="text-muted">{{ class.start_date_string }} - {{ class.end_date_string }} &middot; {{ class.start_time_convert }} - {{ class.end_time_convert }}</span>
            <span style="float: right;">
                ${{ class.cost_decimal }}
            </span>
    
        </div>
    
        <div class="card-body">
            {{ class.description }}      
                 
        </div>
        
        <div class="card-footer">
            <span class="text-muted">Instructor: {{ class.instructor }}</span>
      
          </div>
    </div>
    <br>
    {% endfor %}
    <br>
    {% endif %}
    
    

    <a class="btn btn-outline-primary" style="float:right" href="{% url 'checkout' %}">Checkout {% icon "arrow-right" height="15" width="15" %}</a>
  
    
 {% endif %}
{% endblock content %}