
{% load account %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 

</head>
<body>
    
	<div class="container">
	<p>Hello {{ user.first_name }},</p>
	<p>A request has been received to change the password to your account. If this was not you, please ignore this email.</p>
	<a href={{ password_reset_url }}>Reset Password</a><br>
	
	<p>- Pulsar Academy Team</p>
	<br>
	<p>Do not reply to this email. Instead, email <a href="mailto:contact@pulsaracademy.com">contact@pulsaracademy.com</a>.</p>
	</div>
	

</body>
</html>