.jumbotron.jumbotron-fluid {
    
    
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    /* height: 100% !important; */
    height: 80vh;
}


body {
    margin-bottom: 100px; 
}
#sticky-footer {
    flex-shrink: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    

    /* height: 60px; */
    /* line-height: 60px; */
}

.tab1.tabcontent {
    display: show;

}

.tab2.tabcontent {
    display: none;
}

.description {
    white-space: pre-line;
}

.code {
    white-space: pre-wrap;
    

}
code {
    background-color: #f1f1f1;
}

pre {
    color: crimson;
    background-color: #f1f1f1;
}