{% extends '_base.html' %}
{% load icon %}

{% block title %}Class Info{% endblock title %}


{% block content %}
<h1>{{ object.introduction.title }}</h1>


{% if request.user.is_staff %}
<p><a class="text-muted" href="{% url 'lesson_list' object.slug %}">{% icon 'arrow-left' height="18" width="18" %} {{ object.name }} Forum</a></p>
<span style="float:right;"><a class="btn btn-outline-info btn-sm" href="{% url 'intro_edit' object.slug %}">Edit Intro</a></span>
{% endif %}<br>
<p>{{ object.introduction.body|safe }}</p>

{% endblock content %}