{% extends '_base.html' %}

{% load icon %}

{% block title%}{{ object.name }}{% endblock title %}

{% block content %}

<h1>{{ object.name }} <span class="icon"> <i class="devicon-{{ object.get_icon_string }}-plain"></i></span></h1>
<p><a class="text-muted" href="{% url 'paid_classes' %}">{% icon 'arrow-left' height="18" width="18" %} Class List</a></p>
{% if request.user.is_staff %}
    <a href="{% url 'auto_populate' object.slug %}">Generate Lessons +</a>    
    
    
{% endif %}
<!-- <br> -->
<a style="float:right" href="{% url 'forum_list' object.slug %}" class="btn btn-outline-secondary">Forum {% icon 'list' height="18" width="18" %}</a>

<br>
<br>
<p class="lead">All the lessons we do will show up here! Click on the welcome link to get started. The lessons will be updated after we complete each one. 
    Feel free to ask any questions in the forum!</p>

<p class="lead"><a href="{% url 'lesson_intro' object.slug %}">{{ object.introduction }}</a></p>

{% if object.lesson_set.all %}

{% for lesson in object.lesson_set.all reversed %}
{% if request.user.is_staff %}
<p class="lead"><a href="{% url 'lesson_detail' object.slug lesson.id %}">Lesson {{ lesson.number}}: {{ lesson.name }}</a> 
    
        {% if lesson.active %}
            {% icon 'check-circle' style="color:green" height="15" width="15" %}
        {% else %}
            {% icon 'x' style="color:red" height="15" width="15" %}
        {% endif %}
    
</p>


{% else %}
{% if lesson.active %}
<p class="lead"><a href="{% url 'lesson_detail' object.slug lesson.id %}">Lesson {{ lesson.number}}: {{ lesson.name }}</a> 
{% endif %}
{% endif %}

{% endfor %}

{% else %}
<br>
<p class="lead">There are no lessons yet! The first class begins on <span class="text-info">{{ object.date|date:"DATE_FORMAT" }}</span></p>
{% endif %}
<br><br><br>
{% endblock content %}