

{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contact{% endblock title %}


{% block content %}

<h1><strong>Contact Us</strong></h1>
<hr>


<p class="lead">For all inquiries, please fill out the form below.</p>
<br>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.first_name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.last_name|as_crispy_field }}
                </div>
                
            </div>
            {{ form.email|as_crispy_field }}
                {{ form.message|as_crispy_field }}
        </div>
        
        
        

    </div>
    

    <button class="btn btn-info">Submit</button>
</form>


{% endblock content %}