{% extends '_base.html' %}
{% load static %}

{% block title%}Instructors{% endblock title %}

{% block content %}

<h1>Meet the Instructors</h1>
<!-- <br> -->
<p class="lead">Hi! We will be the instructors for the various courses that we offer. We are Montgomery Blair High School students, and we are very passionate about coding.
    Both of us will teach our own respective courses. Don't be scared! We'll get to know one another. If you want any additional credentials, feel free to message us.
</p><br>
<div class="card-deck" style="overflow-x: hidden;">
    <div class="card" data-aos="fade-right">
      <img class="card-img-top" src="{% static 'images/eric.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Eric Chen</h5>
        <p class="card-text">Eric Chen is a rising senior at Montgomery Blair High School. He is an avid web developer and coder, having worked on 
            his school's debate team site as well as <a href="{% url 'home' %}">this website</a>! His favorite languages are Python and Java, and 
            he is currently learning to be an Amazon Web Services Solutions Architect. He will work on a machine learning at the University of Maryland this summer. His hobbies include
            Rubik's cube solving, basketball, and listening to music.

        </p>
        
        
      </div>
      <div class="card-footer">
        Email: <a href="mailto:eric@echen.io">eric@echen.io</a>
    </div>
      
    </div>

    <div class="card" data-aos="fade-left">
      <img class="card-img-top" src="{% static 'images/maxwell.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Maxwell Zhang</h5>
        <p class="card-text">Maxwell Zhang is a rising senior at Montgomery Blair High School. He worked as a bioinformatics intern at 
            the Institute for Bioscience and Biotechnology Research last summer, and is currently an intern at the Mahmood Lab at Harvard 
            Medical School, which applies machine learning to computational pathology. Maxwell is also an avid competitive programmer, as he
             is in the USA Computing Olympiad Platinum Division and is a Division I participant on 
             Codeforces. Aside from coding, Maxwell’s hobbies include playing viola and reading manga.

        </p>
        
        
    </div>
    <div class="card-footer">
        Email: <a href="mailto:mzschool2@gmail.com">mzschool2@gmail.com</a>
        
    </div>
    
    
   
  </div>
</div>
<br>
  
{% endblock content %}