{% extends '_base.html' %}
{% load static %}

{% block title%}Update{% endblock title %}

{% block content %}

<h1>Update Regarding the Next Session</h1>
<br>
<p>
    Thank you to everyone who made the first session possible! You might be wondering what will happen to Pulsar Academy. We have not abandoned it. Currently, we 
    are busy with college applications and school, and do not have the adequate time to teach. Unfortunately, this means we cannot host a new session until we have completed
    our college applications. However, we will be hosting session two starting January! We will start updating the website as soon as possible to let you know which 
    classes we will be teaching as well as the exact schedule.
</p>
<p>Until then, stay tuned! You can always contact us via the <a href="{% url 'contact' %}">contact page</a> or our <a href="mailto:contact@pulsaracademy.com">email</a>.</p>
<p>Hope to see you in the next session,</p>
<br>
<p>Pulsar Academy Team</p>


{% endblock content %}