{% extends '_base.html' %}
{% load static %}

{% block title%}Registration Information{% endblock title %}

{% block content %}

<h1>How to Register</h1>
<hr style="background:black">


<p>
    Registration is active now! Go to the "courses" dropdown menu, where you will see a list of courses that we offer. To get more information, 
    you can click on the course name, where it will go in detail about the lesson structure, status, and more!
    If the course registration deadline has not passed, you can simply click "Register" at the top of the page, where it will redirect you
    to confirm your selection.</p>

    <p>

    The status represents whether the course has been confirmed. You will not be prompted to pay for the course until it is confirmed by us. 
    The course will only be confirmed if the minimum number of students is 
    met. When the course is confirmed, we will send out an email to everyone detailing the status of the course, where we will send out information about the course as well as payment. If the course quota is not met,
    the class will either be delayed or terminated.
</p>
<br>
<h1>How to Pay</h1>
<hr style="background:black">
<p>
    After a course is confirmed, we will send you an email with further details about payment. They will be made using Paypal on an individual basis. After you have paid, we will send out a confirmation email with
    more details about the class. We will confirm you on the website and you should be able to access course materials, including class summaries, video transcripts, and the forum. If you have any questions, please contact us. 

</p>

<br>
<h1>Anything Else?</h1>
<hr style="background:black">
<p>
    Paid Courses and Registered Courses will show up in the course dropdown. You will be able to see the status of the course if you are registered. If you have paid,
    you will be able to view the course lessons and access the course forum from your course list. We will post lesson summaries in the lesson overview for paid students, and we will answer
    any questions within the dedicated forum. Students are encouraged to answer other students' questions! Information about classes will be emailed before each lesson, along
    with any information required.
</p>
<p>
    Registration Deadlines are always at <span class="text-info">11:59 PM EST</span>, two days before the start of the first class. The course will be confirmed at least four days before the start 
    of the class. The registration deadline will be at <span class="text-info">11:59 PM EST</span> two days before the start of the class, and the payment deadline will be <span class="text-info">11:59 PM EST</span> the night before.
     Reminder emails will be sent in case you forget. However, if you do miss any of these deadlines, 
    please <a href="{% url 'contact' %}">contact us</a> and we will make arrangements if necessary. 
</p>

<br>
<h1>Refund Policy</h1>
<hr style="background:black">

<p>
    You may request a refund by emailing us at <a href="mailto:contact@pulsaracademy.com">contact@pulsaracademy.com</a> or going <a href="{% url 'contact' %}">here</a>. 
    All refunds must be requested at least
    a day prior to the first class. We can cater to individual scenarios if you email us detailing the reasoning behind your refund request. If you are
    not satisfied with the quality of our services, we can negotiate with you on a person-to-person basis.
</p>
<br>
<h1>Course Difficulty</h1>
<hr style="background:black">
<p><strong>Beginner:</strong> Best for students who don’t have much coding experience and are dabbling in it for the first time.</p>
<p><strong>Intermediate:</strong> Best for students who have some coding experience under their belt and already know a language or two.
</strong></p>
<p><strong>Advanced:</strong> Best for students who are ready to take coding to the next level and tackle industry level technologies.
</strong></p>
<br><br>
<div class="text-center"><a class="btn btn-info" href="{% url 'class_list' %}">Go to course list!</a></div>
    <br><br>


{% endblock content %}