{% extends '_base.html' %}
{% load static %}

{% block title%}Registration Information{% endblock title %}

{% block content %}

<h1>How to Register</h1>

<!-- <p>Get ready to learn!</p> -->
<br>
<p>
    Registration is active now! Go to the "courses" dropdown menu, where you will see a list of courses that we offer. To get more information, 
    you can click on the course name, where it will go in detail about the lesson structure, status, and more! </p>

    <p>
    If the course registration deadline has not passed, you can simply click "Register" at the bottom of the page, where it will redirect you
    to confirm your selection. </p>

    <p>

    You will not be prompted to pay for the course until it is confirmed. The course will only be confirmed if the minimum number of students is 
    met. When the course is confirmed, we will send out an email to everyone detailing the status of the course, where you will be able to pay 
    for the course in your "cart" on the upper right of your screen. 
</p>
<p>

    You can make sure your information is correct, where you can proceed to checkout. Payments will be made through PayPal &copy;, where you can either use 
    your PayPal &copy; account or your debit and credit information. All transactions are made by PayPal and we will not receive any of your account information.
    Furthermore, all traffic to our website is secured via SSL encryption, so you won't have to worry about security vulnerabilities. If you are still concerned, 
    email us at contact@pulsaracademy.com and we can set up another form of payment. 

</p>
<p>
    Paid Courses and Registered Courses will show up in the courses dropdown. You will be able to see the status of the course if you are registered. If you have paid,
    you will be able to view the course lessons and access the course forum. We will post lesson summaries in the lesson overview, and we will answer
    any questions within the forum. Students are encouraged to answer other students' questions as well! Information about classes will be emailed before each lesson, along
    with any information required.
</p>
<p>
    Registration Deadlines are always at 11:59 PM EST, two days before the start of the first class. Payment will be confirmed at least 4 days before the start 
    of the class, and the deadline will be 11:59 PM EST the night before. Reminder emails will be sent in case you forget. However, if you do miss any of these deadlines, 
    please contact us and we'll try to make arrangements if necessary. 

    After you have paid for a course or multiple courses, please check your email to see that we have processed your payment. If you do not see an email, please contact us.


</p>
    

  
{% endblock content %}