{% extends '_base.html' %}
{% load static %}

{% block title%}Registration Information{% endblock title %}

{% block content %}

<h1>How to Register</h1>
<hr style="background:black">



<p>
    Registration is active now! Go to the "courses" dropdown menu, where you will see a list of courses that we offer. To get more information, 
    you can click on the course name, where it will go in detail about the lesson structure, status, and more! </p>

    <p>
    If the course registration deadline has not passed, you can simply click "Register" at the bottom of the page, where it will redirect you
    to confirm your selection. </p>

    <p>

    The status represents whether the course has been confirmed. You will not be prompted to pay for the course until it is confirmed by us. 
    The course will only be confirmed if the minimum number of students is 
    met. When the course is confirmed, we will send out an email to everyone detailing the status of the course, where you will be able to pay 
    for the course in your <a href="{% url 'summary' %}">cart</a> (or individually) on the upper right of your screen. If the course quota is not met,
    the class will either be delayed or terminated.
</p>
<br>
<h1>How to Pay</h1>
<hr style="background:black">
<p>

    After you go to your cart, make sure the information is correct. You can then proceed to checkout. Payments will be made through 
    <span class="text-info">PayPal</span>, where you can either use your <span class="text-info">PayPal</span> account or your debit and credit information. 
    All transactions are made by PayPal; we will not receive any of your account information. Furthermore, all traffic to our website is secured via SSL encryption, so you won't have to worry about security vulnerabilities. If you are still concerned, 
    email us at <a href="mailto:contact@pulsaracademy.com">contact@pulsaracademy.com</a>, and we can set up another form of payment. 

</p>
<p>
    After you have paid for a course or multiple courses, please check your email to see that we have processed your payment. If you do not see an email, please <a href="{% url 'contact' %}">contact us</a> directly.

</p>
<br>
<h1>Anything Else?</h1>
<hr style="background:black">
<p>
    <a href="{% url 'paid_classes' %}">Paid Courses</a> and <a href="{% url 'registered_classes' %}">Registered Courses</a> will show up in the courses dropdown. You will be able to see the status of the course if you are registered. If you have paid,
    you will be able to view the course lessons and access the course forum from your <a href="{% url 'paid_classes' %}">course list</a>. We will post lesson summaries in the lesson overview for paid students, and we will answer
    any questions within the dedicated forum. Students are encouraged to answer other students' questions! Information about classes will be emailed before each lesson, along
    with any information required.
</p>
<p>
    Registration Deadlines are always at <span class="text-info">11:59 PM EST</span>, two days before the start of the first class. The course will be confirmed at least four days before the start 
    of the class. The registration deadline will be at <span class="text-info">11:59 PM EST</span> two days before the start of the class, and the payment deadline will be <span class="text-info">11:59 PM EST</span> the night before.
     Reminder emails will be sent in case you forget. However, if you do miss any of these deadlines, 
    please <a href="{% url 'contact' %}">contact us</a> and we will make arrangements if necessary. 
</p>

<br>
<h1>Refund Policy</h1>
<hr style="background:black">

<p>
    You may request a refund by emailing us at <a href="mailto:contact@pulsaracademy.com">contact@pulsaracademy.com</a> or going <a href="{% url 'contact' %}">here</a>. 
    All refunds must be requested at least
    a day prior to the first class. We can cater to individual scenarios if you email us detailing the reasoning behind your refund request. If you are
    not satisfied with the quality of our services, we can negotiate with you on a person-to-person basis.
</p>
<br><br>
<div class="text-center"><a class="btn btn-info" href="{% url 'class_list' %}">Go to course list!</a></div>
    <br><br>

  
{% endblock content %}